.maindiv
{
    margin-top: 0.5rem !important;
    width: 100% !important;
}

.kor
{
    height: 50px;
    width: 50px;
    font-size:10px;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    border-color: black;
    border-style: solid;
    border-radius: 50%;
    border-width: 1px;
    padding: 8px;
    margin-left: 5px;
  
}

.kor:hover
{
    background-color: bisque;
    cursor: pointer;
}

.idopont
{
    border-color: rgb(166, 166, 166);
    border-style: solid;
    border-width: 1px;
    display: inline-block;
    margin-bottom: 5px;
    font-size:15px;
    padding: 1%;
}

.radiolista
{

    margin-bottom: 5px !important;
    font-size:12px;
    padding: 1%;
}

.nyil
{
    font-size:45px !important;
    margin-top: -1rem !important;
}

.row
{
    --bs-gutter-x: 0rem;
}

.idopont:hover
{
    cursor:pointer;
    background-color: bisque;
}

.datum_card
{
    border: 0px !important;
}

.modal-footer
{
    justify-content: center !important;
}

.foglalas2
{
    color: grey;
    font-size: 0.9rem;
    border: 1px grey solid;
}

.foglalas2:hover
{
    color: rgb(234, 151, 123);
    font-size: 0.9rem;
    border: 1px darksalmon solid;
}

.teloelo
{
    display: block;
}

.teloelrejt
{
    display: none;
}

.szoveg
{
    font-size: 0.8rem;
}

.folytatasbtn
{
    font-size: 0.9rem;
}